<div data-hook="admin_shipping_method_form_fields">
  <%= f.field_container :name do %>
    <%= f.label :name, t(:name) %><br />
    <%= f.text_field :name  %>
    <%= error_message_on :shipping_method, :name %>
  <% end %>

  <%= f.field_container :location do %>
    <%= f.label :location %><br />
    <%= f.text_field :location  %>
    <%= error_message_on :shipping_method, :location %>
  <% end %>

  <%= f.field_container :deadline do %>
    <%= f.label "Order deadline" %><br />
    <%= f.text_field :deadline  %>
    <%= error_message_on :shipping_method, :deadline %>
  <% end %>

  <%= f.field_container :time do %>
    <%= f.label "Delivery (Pick-up) Time" %><br />
    <%= f.text_field :time  %>
    <%= error_message_on :shipping_method, :time %>
  <% end %>

  <%= f.field_container :pickup_only do %>
    <%= f.label :pickup_only %><br />
    <%= select(:shipping_method, :pickup_only, options_for_select([["False", "false"],["True", "true"]],@shipping_method.pickup_only)) %>
    <%= error_message_on :shipping_method, :deadline %>
  <% end %>

  <%= f.field_container :zone_id do %>
    <%= f.collection_select(:zone_id, @available_zones, :id, :name, {}, {'style' => 'width:200px;display:none'})  %>
    <%= error_message_on :shipping_method, :zone_id %>
  <% end %>

  <%= f.field_container :display_on do %>
    <%= f.label :display_on, t(:display) %><br />
    <%= select(:shipping_method, :display_on, ShippingMethod::DISPLAY.collect {|display| [t(display), display == :both ? nil : display.to_s]})  %>
    <%= error_message_on :shipping_method, :display_on %>
  <% end %>

</div>

<div data-hook="admin_shipping_method_form_calculator_fields">
  <%= render 'admin/shared/calculator_fields', :f => f %>
</div>

