  <%= javascript_include_tag '/javascripts/jquery-ui-1.8.17.custom.min.js' %>
  <% 
    cutoff_hour = 12
    start_date = Date.today
    start_date += 1.day if Time.now.hour > cutoff_hour
    end_date = start_date + 9.days
  %>
  <div class="tabs" id="choose_pickup" data-hook="shipping_method_inner">

    <% if Time.now.hour > cutoff_hour %>
      <div class="box box-orange">
        Your lunch order will be available for pickup tomorrow because we are past the today's delivery window of 11:30AM - 2PM.
      </div>
    <% end %>

    <h3 style="float:left;width:200px">Choose Pickup Date/Time:</h3>
    <select id="pickup_date" style="float:left">
      <% (start_date..end_date).to_a.each do |slot| %>
        <% case slot.wday when 0, 6 then next end  %>
        <option><%= slot.to_formatted_s(:long_ordinal) %></option>
      <% end%>
    </select>
    <div class="clear"></div>
    <ul class="tabnav">
      <% @order.rate_hash.each do |shipping_method| %>
        <li>  
          <a href="#location-<%= shipping_method[:id] %>"><%= shipping_method[:name] %></a>
        </li>
      <% end %>
    </ul>
    <% @order.rate_hash.each do |shipping_method| %>
    <div id="location-<%= shipping_method[:id].to_s %>" class="tabdiv" title="<%= shipping_method[:name] %>">
      <strong>Pickup options are limited to availability and preparation time</strong>
      <ul>
        <% (Time.new(2001,1,1, 11,30,0).to_i..Time.new(2001,1,1, 14,0,0).to_i).to_a.in_groups_of(30.minutes).collect(&:first).collect do |slot| %>
          <li style="height:30px;font-size: 13px">
            <p class="field">
              <label>
                <%= radio_button(:order, :special_instructions, shipping_method[:name] + " at " + Time.at(slot).strftime("%l:%M %p")) %>
              <%= Time.at(slot).strftime("%l:%M %p") %>
              </label>
            </p>
          </li>
        <% end %> 
      </ul>
    </div>
    <% end %>
    <% if Spree::Config[:shipping_instructions] && @order.rate_hash.present? %>
      <p id="minstrs" data-hook>
        <%= form.label :special_instructions, t(:shipping_instructions) %><br />
        <%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
      </p>
    <% end %>
  </div>
  <div class="clearfix"></div>
  <div class="divider line"></div>
  <div id="cart-buttons" data-hook="buttons">
    <button type="submit" name="save_and_" class="button classy primary">
      <span>Save and Continue</span>
    </button>
  </div>
  
  <script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#choose_pickup').tabs();
  });
  </script>
  