<div class='toolbar order-links'>
  <%= button_link_to t(:new_order), new_admin_order_url, :icon => 'add', :id => 'admin_new_order' %>
</div>

<%= render :partial => 'admin/shared/order_sub_menu' %>

<h1><%= t(:listing_orders) %></h1>
<% content_for :head do %>
  <style type="text/css" media="screen">
    #listing_orders ul, #listing_orders li {
    	list-style-type:none;
      clear: both;
    }
    p.field, p.field_value {
      float: left;
      clear: none;
      width: 70px;
      font-size: 1.2em;
      line-height: 1.25;
    }
    p.field_value {
      font-weight: bold;
      width: 130px;
    }
    .clear {
      clear: both;
    }
    .contact_info, .order_info, .delivery_info {
      width: 33%;
    }
  </style>
<% end %>
<table class="index" id="listing_orders" data-hook>
  <tr data-hook="admin_orders_index_headers">
    <th class="contact_info"><%= sort_link @search, :email,        "Contact Info" %>
    <th class="order_info"><%= sort_link @search, :number,       "Order" %>
    <th class="delivery_info"><%= sort_link @search, :number,       "Delivery/Pickup" %>
  </tr>
  <% @orders.each do |order| %>
    <% address = order.bill_address %>
    <% shipping = order.shipping_method %>
    <% items = order.line_items %>
    <tr data-hook="admin_orders_index_rows">
      <td>
        <ul>
          <li>
            <p class="field">
              Name:
            </p>
            <p class="field_value">
              <%= address.firstname + ' ' + address.lastname %>
            </p>
          </li>
          <li>
            <p class="field">
              Phone:
            </p>
            <p class="field">
              <%= number_to_phone(address.phone) %>
            </p>
          </li>
        </ul>
      <td>  
        <table width="100%">
          <% items.each do |item| %>
            <tr data-hook="order_details_line_item_row">
              <td class="10%"><%= item.quantity %></td>
              <td width="90%"><%= item.variant.product.name %> <%= "(" + variant_options(item.variant) + ")" unless item.variant .option_values.empty? %></td>
            </tr>
            <% items.each do |item| %>
              <tr>
                <td class="10%"><%= item.quantity %></td>
                <td width="90%"><%= item.variant.product.name %> <%= "(" + variant_options(item.variant) + ")" unless item.variant .option_values.empty? %></td>
              </tr>
            <% end %>
          <% end %>
          
        </table>
      </td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @orders %>


<% content_for :sidebar do %>
  <div class="box" data-hook="admin_orders_index_search">
    <h3><%= t(:search) %></h3>
    <%= form_for [:admin, @search] do |f| %>
      <%= label_tag nil, t(:date_range) %><br />
      <div class="date-range-filter">
        <div class="left sub-field">
          <%= f.text_field :created_at_greater_than, :class => 'datepicker' %><br />
          <%= label_tag nil, t(:start), :class => 'sub' %>
        </div>
        <div class="right sub-field">
          <%= f.text_field :created_at_less_than, :class => 'datepicker' %><br />
          <%= label_tag nil, t(:stop), :class => 'sub' %>
        </div>
      </div>

      <p><%= label_tag nil, t(:status) %><br />
      <%= f.select :state_equals, Order.state_machines[:state].states.collect {|s| [t("order_state.#{s.name}"), s.value]}, {:include_blank => true} %></p>

      <p>
        <%= label_tag nil, t(:order_number) %><br />
        <%= f.text_field :number_like, :size => 25 %>
      </p>
      <p>
        <%= label_tag nil, t(:email) %><br />
        <%= f.text_field :email_like, :size => 25 %>
      </p>
      <p>
        <%= label_tag nil, t(:first_name_begins_with) %><br />
        <%= f.text_field :bill_address_firstname_starts_with, :size => 25 %>
      </p>
      <p>
        <%= label_tag nil, t(:last_name_begins_with) %><br />
        <%= f.text_field :bill_address_lastname_starts_with, :size => 25 %>
      </p>
      <p>
        <%= f.check_box :completed_at_is_not_null, {:checked => @show_only_completed}, '1', '' %>
        <%= label_tag nil, t(:show_only_complete_orders) %>
      </p>
      <div data-hook="admin_orders_index_search_buttons">
        <p><%= button t(:search) %></p>
      </div>
    <% end %>
  </div>
<% end %>
