<div class='toolbar order-links'>
  <%= button_link_to t(:new_order), new_admin_order_url, :icon => 'add', :id => 'admin_new_order' %>
</div>

<%= render :partial => 'admin/shared/order_sub_menu' %>

<h1>Open Orders</h1>
<% content_for :head do %>
  <style type="text/css" media="all">
    #listing_orders ul, #listing_orders li {
    	list-style-type:none;
      clear: both;
      margin: 1px 0;
    }
    #listing_orders h3 {
      border-bottom: 1px solid #DDDDDD;
    }
    table.index td{
      padding: 3px;
      page-break-inside:avoid;
      border: none;
    }
    
    p.field, p.field_value {
      float: left;
      clear: none;
      width: 50px;
      line-height: 1.25;
    }
    p.field_value {
      font-weight: bold;
      width: 130px;
    }
    .clear {
      clear: both;
    }
    .contact_info {
      width: 25%;
    }
    .order_info{
      width: 40%;
    } 
    .delivery_info{
      width: 35%;
    }
  </style>
  <style type="text/css" media="print">
  @page { margin: 0; padding:0; }
  html { margin: 0; padding: 0; }
  body {
    background: white;
    font-family:"Trebuchet MS";
    font-size: 10pt;
  	color:#000000;
    margin: 0;
    padding: 0;
  }

  h3 {
    font-size: 10pt;
  }

  #content.with-sidebar {
    padding-right:0;
  }

  .footer .bold {
    width: 100px;
  }
  .footer .cell {
    width: 220px;
  }
  #header, #admin-menu, #sub-menu, #search_sidebar,#admin_new_order {
    display:none;
    width:0;
    height:0;
    margin:0;
  }
  #listing_orders {
    width: 100%;
  }
  .no-print {
    display:none;
  }
  </style>
<% end %>
<table class="index" id="listing_orders" data-hook>
  <tr data-hook="admin_orders_index_headers">
    <th class="contact_info"><%= sort_link @search, :email,        "Contact Info" %>
      <th class="order_info"><%= sort_link @search, :number,       "Qty | Item Description" %>
    <th class="delivery_info"><%= sort_link @search, :number,       "Delivery/Pickup" %>
  </tr>
  
  <% 
    @orders.each do |order| %>
    <% address = order.bill_address %>
    <% shipping = order.shipping_method %>
    <% items = order.line_items %>
    <tr data-hook="admin_orders_index_rows">
      <td>
        <ul>
          <li>
            <% begin %>
            <h3><%= address.firstname + ' ' + address.lastname %></h3>
            <% rescue %>
            <h3>Not specified</h3>
            <% end %>
          </li>
          <li>
            <p class="field">
              Phone:
            </p>
            <p class="field">
              <% begin %>
              <%= number_to_phone(address.phone) %>
              <% rescue %>
              Not specified
              <% end %>
            </p>
          </li>
          <li><%= order.state != 'complete' ? "Order Status: #{order.state}": ''%></li>
          <li class="no-print"><%= mail_to order.email, "Send Email" %></li>
          <li><%= link_to order.number, admin_order_path(order) %></li>
        </ul>
      <td>  
        <table width="100%">
          <% items.each do |item| %>
            <tr>
              <td class="qty"><%=item.quantity%></td>
              <td width="300"><h3><%= item.variant.product.name%></h3> <%= "(" + variant_options(item.variant) + ")" unless item.variant.option_values.empty? %>
                <%= render :partial => 'shared/additional_line_item_fields', :locals=>{:item => item} %>
              </td>
            </tr>
          <% end %>
        </table>
      </td>
      <td style="padding-top: 6px">
        <% begin %>
        <h3 style="float:left;">
          <%= Date::DAYNAMES[Date.parse(order.special_instructions).wday] + ' ' + shipping.time %></h3>
        <h3 style="float:right;width:auto;clear:left">
          <%= shipping.name %>
          </h3>
        <% rescue %>
        <h3>Not specified</h3>
        <% end %>
        <p class="clear"><%#= shipping.inspect %></p>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="border-top:1px solid #999; height:30px"></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @orders %>


<% content_for :sidebar do %>
  <div id="search_sidebar" class="box" data-hook="admin_orders_index_search">
    <h3><%= t(:search) %></h3>
    <%= form_for [:admin, @search] do |f| %>
      <%= label_tag nil, t(:date_range) %><br />
      <div class="date-range-filter">
        <div class="left sub-field">
          <%= f.text_field :created_at_greater_than, :class => 'datepicker' %><br />
          <%= label_tag nil, t(:start), :class => 'sub' %>
        </div>
        <div class="right sub-field">
          <%= f.text_field :created_at_less_than, :class => 'datepicker' %><br />
          <%= label_tag nil, t(:stop), :class => 'sub' %>
        </div>
      </div>

      <p><%= label_tag nil, t(:status) %><br />
      <%= f.select :state_equals, Order.state_machines[:state].states.collect {|s| [t("order_state.#{s.name}"), s.value]}, {:include_blank => true} %></p>

      <p>
        <%= label_tag nil, t(:order_number) %><br />
        <%= f.text_field :number_like, :size => 25 %>
      </p>
      <p>
        <%= label_tag nil, t(:email) %><br />
        <%= f.text_field :email_like, :size => 25 %>
      </p>
      <p>
        <%= label_tag nil, t(:first_name_begins_with) %><br />
        <%= f.text_field :bill_address_firstname_starts_with, :size => 25 %>
      </p>
      <p>
        <%= label_tag nil, t(:last_name_begins_with) %><br />
        <%= f.text_field :bill_address_lastname_starts_with, :size => 25 %>
      </p>
      <p>
        <%= f.check_box :completed_at_is_not_null, {:checked => @show_only_completed}, '1', '' %>
        <%= label_tag nil, t(:show_only_complete_orders) %>
      </p>
      <div data-hook="admin_orders_index_search_buttons">
        <p><%= button t(:search) %></p>
      </div>
    <% end %>
  </div>
<% end %>
