<%
  require 'chronic'
  # Chronic.time_class = Time.zone
  last_pickup = ShippingMethod.maximum('deadline')
  @current_time  = Chronic.parse('now')
  @cutoff_time   = Chronic.parse("today #{last_pickup}")
  @delivery_date = case 
                    when [6,0].include?(@current_time.wday) || (@current_time.wday == 5 && @current_time > @cutoff_time)
                      then Chronic.parse('monday') 
                    when @current_time.to_i > @cutoff_time.to_i
                      then Chronic.parse('tomorrow midnight')
                    else @current_time
                  end
  weekend       = [6,0].include?(@current_time.wday)                    
  @delivery_today = @delivery_date.wday == @current_time.wday
  @delivery_day  = @delivery_today ? 'Today' : Date::DAYNAMES[@delivery_date.wday]
%>

<% content_for :tagline do %>

  <% if @delivery_today %>
    <h1>Hello and Welcome to My Lunch In
      <br>Order today's lunch from 
      <%= link_to "Nora's Table", about_url %>
    </h1>
  <% else %>
    <h1>
      <% if weekend %>
      <span>My Lunch In</span> doesn't offer lunch service over the weekend.
      <% else %>
      <span>My Lunch In</span> cannot accept orders for today after <%= last_pickup + (last_pickup.downcase.include?("pm") ? '' : 'PM') %><br />
      <% end%><br />
      But you are welcome to place your order for <a href="#" onclick="return false;" title="<%= @delivery_day %> is our next day of lunch service"><%= @delivery_day %></a>
    </h1>
  <% end %>

<% end %>
<% @products = @products.sort_by(&:sku) %>
<h3><%= @products.count %></h3>
<%= render :partial => "products/show", :collection => @products, :as => :product %>
