<% @body_id = 'cart' %>
<h1>Your Lunch Box</h1>
<div class="divider line short"></div>

<% if @order.line_items.empty? %>

  <div data-hook="empty_cart">
    <p>Your lunch box is empty!</p>
    <p><%= link_to root_path, :class => 'classy button' do %>
        <span>See lunch options</span>
        <% end %>
    </p>
  </div>

<% else %>
  <div data-hook="outside_cart_form" style="position: relative">
    <%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>
      <div data-hook="inside_cart_form">
        <div data-hook="cart_items">
          <%= render :partial => 'form', :locals => {:order_form => order_form} %>
        </div>
        <div class="divider line short"></div>
        <div id="subtotal" data-hook>
          <h3><%= "#{t(:subtotal)}: #{order_price(@order)}" %></h3>
        </div>
      </div>
      <div class="links" id="cart-buttons" data-hook="cart_buttons">
        <!--
          These float right, so place each element in the opposite order you expect them to render
        -->
        <%= link_to checkout_path, :class => 'button classy primary' do %>
          <span>Checkout</span>
        <% end %>
        <button type="submit" name="button" id="update-button" class="large button classy">
          <span>Update quantity</span>
        </button>
        <%= link_to root_path, :class => 'button classy' do %>
          <span>Add another item</span>
        <% end %>
      </div>
      <div class="clear"></div>
    <% end %>
    <div id="empty-cart" data-hook>
    <%= form_tag empty_cart_path, :method => :put do %>
      <p id="clear_cart_link" data-hook>
        <%= button_tag :type => "submit", :class => 'button classy danger', :id => 'empty-button' do %>
          <span>Empty lunch box</span>
        <% end %>
      </p>
    <% end %>
    </div>
  </div>
<% end %>
