<% if @product.ad_hoc_option_types && !@product.ad_hoc_option_types.empty? %>
  <% lookup=ActionView::LookupContext.new(ActionController::Base.view_paths, {:formats => [:html]}) %>
  <%= "<h4>*#{t(:not_all_combinations_available)}</h4>".html_safe if !@product.ad_hoc_variant_exclusions.empty? %>

  <ul class="plate-variations" data-hook="customizations">
    <% @product.ad_hoc_option_types.each do |ahot| %>
      <!-- TODO: Convert to helper -->
      <% ot=ahot.option_type %>
      <% class_str='ad-hoc-option-select' %>
      <% class_str += ' required' if ahot.is_required %>
      <% class_str += ' ad_hoc' if !@product.ad_hoc_variant_exclusions.empty? %>
      <% checked = true %>
      <% partial_name = "products/ad_hoc_options/#{ot.name}" %>

      <li class="variation-label">
        <span><%= ot.presentation %>:</span>
        <ul>
          <%# render a custom partial based on the option type name? %>
          <% if lookup.exists?(partial_name,nil,true) %>
            <%= render :partial => partial_name, :locals => {:option_type => ahot, :class_str => class_str} %>
          <% else %>
            <% ahot.option_values.each do |ah_ov| %>
              <li class="plate-selection">
                <label>
                  <%= radio_button_tag "ad_hoc_option_values[#{ahot.id}]", ah_ov.id.to_s, checked %> <% checked = false if true %>
                  <%= ah_ov.option_value.presentation %></label>
                <div class="clear"></div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>
