/ %input{:type => :hidden, :name => "auth_token", :value => form_authenticity_token}
/ %input{:type => :hidden, :name => "plate", :value => plate.id}
/ %input{:type => :hidden, :name => "quantity", :value => 1}
.post.relative
  .post-image.gallery.clearfix
    = plate.inspect.methods 
    / %a{:href => asset_path("plates/#{plate.id}.jpg"), :rel => "gallery[gallery#{plate.id}]"}
    /   %img{:alt => plate.name, :height => "120", :src => asset_path("plates/#{plate.id}.jpg")}
    / %span.date
    /   %span.bold 
    /     #{plate.created_at.strftime("%b %d")}
    /   #{plate.created_at.year}
    / %span.comments-nr
    /   %a{:href => asset_path("plates/#{plate.id}.jpg"), :rel => "gallery[gallery#{plate.id}]"}
    /     %span.bold #{number_to_currency(plate.price, :unit => "$")}
    /     lunch
  /   / %span.comments-nr
  /   /   %a{:href => "#"}
  /   /     %span.bold #{rand(20)}
  /   /     remaining
  / .post-entry
  /   %h1.title.line
  /     #{plate.name}
  /   .divider.line.short
  /     -# By
  /     -# %strong Kathy Awesomeness
  /     -#  in
  /     -#  %strong Photography
  /   %p.plate-description #{plate.description}
  /   - if plate.vegetarian
  /     %span.highlight-light.dietary Vegetarian
  /   - if plate.gluten_free
  /     %span.highlight-light.dietary Gluten Free
  /   
  /   %ul.plate-variations
  /     - plate.variations.each do |v|
  /       %li.variation-label
  /         %span
  /           #{v.label}:
  /         %ul
  /           - v.selections.each do |s|
  /             %li.plate-selection
  /               - if v.choose_one
  /                 %input.radio{:type => "radio", 
  /                   :name => "variations[#{v.id}", 
  /                   :value => s.name,
  /                   :checked => (s.defaulted ? "checked" : nil),
  /                   :id => "selection_#{plate.id}_#{s.id}"}
  /               - else
  /                 %input.checkbox{:type => "checkbox", 
  /                   :name => "variations[#{v.id}]", 
  /                   :value => s.name, 
  /                   :checked => (s.defaulted ? "checked" : nil),
  /                   :id => "selection_#{plate.id}_#{s.id}"}
  /               
  /               %label{:for => "selection_#{plate.id}_#{s.id}"}
  /                 #{s.name}
  /               .clear
  /   .button-row.cta
  /     / %input.quantity{:type => "number", :value => 1}
  /     / %input.classy.customize{:type => "button", :value => "Customize Meal"}
  /     / %br
  /     / %br
  /     %input.classy.add-item{:type => "submit", :value => "Add to Lunch Box"}
